<!-- Loop over each object in the projects array -->
{{#each posts as |post|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h3>{{post.title}}</h3>
      <p>{{post.post_text}}</p>
      <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
    </div>

  </div>
{{/each}}